.widget{
    background: $ligth-blue;
    margin-bottom: $lx-size;
}

.widget-header{
    background: $blue;
    color: $off-white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
}
.widget-header__h3{
    margin: 0;
}

.widget-header__addoption-msg{
    color: $off-white;
    padding: $l-size;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid lighten($ligth-blue, 10%);
} 